@{
    ViewData["Title"] = "Hakkımda";
}

<div class="container mt-5">
    <h1 class="text-danger">Hakkımda</h1>
    <hr>
    <h3>Ben Merve Arpacıoğlu Türk</h3>
    <hr>
    <p>İstanbul Bilgi Üniversitesi %100 İngilizce Tam Burslu Mekatronik Mühendisliği Bölümü mezunuyum. Mezun olduktan sonra yazılım geliştirici olarak sektörde yer almak istiyorum. Bu heves ve heyecanımın getirisi olarak öncelikle Techcareer.net'in BackEnd C# Eğitiminde yer aldım. Başarıyla tamamladığım eğitimin ardından sertifika almaya hak kazandım. Gitgide hevesimin öğrenme arzumun olduğu diğer sürecimde de AcunMedya Akademiyle tanıştım ve bu serüvenime hâlâ devam ediyorum. Bu zorlu serüvenimin getirisi olarak akademiyi başarıyla tamamlamayı arzuluyorum.</p><br>

<p><strong>Özgeçmişimi görüntülemek için butona tıklayın.</strong></p>
<a href="~/CV/Merve_Resume.pdf" target="_blank" class="btn btn-success">Özgeçmişimi görüntüle</a>
<a href="~/CV/Merve_Resume.pdf" download class="btn btn-success">CV'yi İndir</a>
</div >



    

